{% extends 'base_users.html' %}

{% block title %}Add Sublet{% endblock %}

{% block content %}
	<div class="row justify-content-center">
		<div class="col-lg-8 col-md-10 col-sm-12">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Add Sublet</h3>
					<form method="post" novalidate>
						{% csrf_token %}
						{% include 'includes/form.html' %}
						<!--{{ form }}-->
						<button type="submit" class="btn btn-outline-green btn-block">Add New Sublet</button>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
