{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Irish Cribs{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/compassico.png' %}"/>
    {% block stylesheet %}{% endblock %}
  </head>
  <body style="background-image: url('/static/css/img/shamrock.JPG'); background-size: cover;">
    {% block body %}

	  <div class="container">
        {% block content %}
        {% endblock %}
      </div>

	  {% block sidebar %}
	  {% endblock %}
    {% endblock body %}
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
