body {
  background: url("/static/img/shamrock.JPG") no-repeat center fixed;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 72px;
  font-family: 'Verdana';
  background: -webkit-linear-gradient(gold, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: green;
}

a:hover,
a:active {
  color: limegreen;
}
